# Show a specific file
order allow,deny
<FilesMatch "\.json$">
    allow from all
</FilesMatch>
deny from all

# Browser Caching
<IfModule mod_mime.c>
    AddType application/json .json
</ifModule>
<ifModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access 3 days"
    ExpiresByType application/json "access plus 1 months"
</ifModule>

# Compress json
<ifModule mod_deflate.c>
    AddOutputFilterByType DEFLATE application/json
</ifModule>
