// Variables
@import "variables";

// npm i codemirror --save-dev
// npm i emmet-codemirror --save-dev
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/addon/display/fullscreen.css";
@import "~codemirror/addon/dialog/dialog.css";

.CodeMirror-fullscreen {
    z-index: 1040;
}

.tree-view__list {
    overflow: hidden;
    margin: 0;
    padding: .25rem 0;
}
.tree-view__item {
    background: transparent;
    display: block;
    margin-bottom: -1px;
    padding: .25rem;
}
.tree-view__subitem {
    background: transparent;
    margin-left: 0.5rem;
    margin-bottom: -1px;
    padding: 0 .25rem;
}
.tree-view__link {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}
.tree-view__link:hover {
    text-decoration: none;
    color: #222;
}
