# remove files and folders
/resources/themes/bixbite
/uploads
/node_modules
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
composer.lock
laravel-apidoc-generator.md
npm-debug.log
package-lock.json
yarn-error.log
.env
.phpunit.result.cache

!/vendor/.htaccess
!/storage/app/uploads/avatars/noavatar.png
resources/themes/default/public/mix-manifest.json
resources/skins/default/public/mix-manifest.json
