# remove files and folders
/resources/themes/bixbite
/resources/themes/vlad-stroi
/uploads
/node_modules
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
composer.lock
npm-debug.log
yarn-error.log
.env

!/vendor/.htaccess
!/storage/app/uploads/avatars/noavatar.png
resources/themes/default/public/mix-manifest.json
resources/skins/default/public/mix-manifest.json
