.archive_page {
    
}
.archive_page__inner {
    
}
.archive_page__header {
    box-shadow: $box-shadow;
    position: relative;
    margin: 0 0 2.5rem 0;
    padding: 0;
}
.archive_page__title {
    font-size: 1.4rem;
    line-height: 1;
    font-weight: bold;
    margin: 0;
    padding: 1rem;
}
.archive_page__second {
    border-top: 1px solid $gray-200;
    margin: 0;
    padding: 1rem;
}
.archive_page__teaser {
    margin: 0;
    padding: 0;
}
.archive_page__content {
    box-shadow: $box-shadow;
    margin: 0 0 2.5rem 0;
    padding: 1rem;
}