.page_footer {
    font-size: .8rem;
    color: #888;
}

.page_footer__link {
    color: #e4e4e4;
    &:hover {
        color: $white;
    }
}

.footer_area {
    background-color: #303440;
    padding: 2.5rem 0 0;
}
.footer_area__inner {
    @extend .row;
}
.footer_area__about {
    @extend .col-sm-5;
    margin-bottom: 2.5rem;
}
.footer_area__contact {
    @extend .col-sm-3;
    margin-bottom: 2.5rem;
}
.footer_area__feedback {
    @extend .col-sm-3;
    margin-bottom: 2.5rem;
}

.footer_area__title {
    color: #e4e4e4;
    font-size: 1.4rem;
}
.footer_area__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__copyrights {
    background-color: #232323;
}

.footer_copyrights__inner {
    @extend .row;
    align-items: center;
    padding: 1.2rem 0;
}

.footer_copyrights__item-left {
    @extend .col-md-6;
    text-align: left;
}

.footer_copyrights__item-right {
    @extend .col-md-6;
    text-align: right;
}

@media screen and (max-width: 600px) {
    .footer__copyrights {
        text-align: center
    }
}
