# Sometimes
php_flag short_open_tag off
AddDefaultCharset utf-8
DirectoryIndex index.php

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # If install in subdirectory.
    # RewriteBase /

    # www to w/o www.
    # RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
    # RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

    # http to https.
    # RewriteCond %{SERVER_PORT} !^443$
    # RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Force Files to Download
<FilesMatch "\.(mov|mp3|pdf)$">
    ForceType application/octet-stream
    Header set Content-Disposition attachment
</FilesMatch>

# Browser Caching
<IfModule mod_mime.c>
    AddType image/x-icon .ico
    AddType image/svg+xml .svg .svgz
    AddType image/bmp .bmp
    AddType image/gif .gif
    AddType image/jpeg .jpg .jpeg
    AddType image/png .png
    AddType text/css .css
    AddType application/x-javascript .js
    AddType text/xml .xml
    AddType application/x-font-ttf .ttf .ttc
    AddType video/quicktime .mov .qt
    AddType audio/mpeg .mp3 .m4a
    AddType video/mp4 .mp4 .m4v
    AddType video/mpeg .mpeg .mpg
    AddType application/zip .zip
</ifModule>

<ifModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access 3 days"
    ExpiresByType image/x-icon "access plus 1 months"
    ExpiresByType image/svg+xml "access plus 1 months"
    ExpiresByType image/bmp "access plus 1 months"
    ExpiresByType image/gif "access plus 1 months"
    ExpiresByType image/jpeg "access plus 1 months"
    ExpiresByType image/png "access plus 1 months"
    ExpiresByType text/css "access plus 1 months"
    ExpiresByType application/x-javascript "access plus 1 months"
    ExpiresByType text/xml "access plus 1 months"
    ExpiresByType application/x-font-ttf "access plus 1 months"
    ExpiresByType video/quicktime "access plus 1 months"
    ExpiresByType audio/mpeg "access plus 1 months"
    ExpiresByType video/mp4 "access plus 1 months"
    ExpiresByType video/mpeg "access plus 1 months"
    ExpiresByType application/zip "access plus 1 months"
</ifModule>

# Compress HTML, CSS, JavaScript, Text, XML and fonts
<ifModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/plain text/html
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript
    AddOutputFilterByType DEFLATE text/xml application/xml application/xhtml+xml application/rss+xml
    AddOutputFilterByType DEFLATE application/json
    AddOutputFilterByType DEFLATE application/vnd.ms-fontobject application/x-font-ttf font/opentype font/otf font/ttf image/svg+xml image/x-icon
</ifModule>
