.page_header {
    background-color: $white
}

.header__top {
    background-color: $white;
    padding: 8px 0 4px;
    box-shadow: $box-shadow;
    font-size: .8rem;
}

.header_top__inner,
.header_area__inner {
    @extend .row;
    align-items: center;
}

.header_area__inner {
    padding: 20px 0 25px;
}

.header_top__item-left,
.header_area__item-left {
    @extend .col-md-6;
    text-align: left;
}

.header_top__item-right,
.header_area__item-right {
    @extend .col-md-6;
    text-align: right;
}

@media screen and (max-width: 600px) {
    .header__top {
        text-align: center
    }
}

.header_area {
    
}

.header_area__form {
    display: flex;
    justify-content: flex-end;
}
.header_area__input-group {
    @extend .input-group;
    width: auto;
}
.header_area__input-group-append {
    @extend .input-group-append;
}
.header_area__input {
    @extend .form-control;
    border: 1px solid rgba(0, 0, 0, 0.05);
}
.header_area__submit {
    @extend .btn;
    @extend .btn-outline-dark;
}
.site-title {
    font-size: 2.25rem;
    display: inline-block;
}
.site-description {
    margin: 0;
    padding: 0;
}

.header-navbar {
    @extend .navbar-expand-lg;
    @extend .navbar-dark;
    box-shadow: $box-shadow;
    background-color: #232323;
    border-top: 3px solid $primary;
}