html {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    padding: 10px 0;
    background-color: #eaeaea;
    background-size: cover;
}

body,
button,
input,
select,
textarea {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $font-color-base;
    word-wrap: break-word;
}

::-webkit-scrollbar {
    height: 4px;
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: #ddd;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #ddd;
}

pre::-webkit-scrollbar {
    height: 4px !important;
    width: 2px !important;
}

pre::-webkit-scrollbar-thumb {
    background: $primary !important;
}

a {
    color: $primary;
    text-decoration: none;
}

a:hover,
a:active {
    outline: 0;
    text-decoration: none;
}

ol {
    list-style: decimal;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: top;
}
