.widget-featured-item__image {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
}
.widget-featured-item-image__thumbnail {
    position: absolute;
}
.widget-featured-item__header {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
}