.widget-comments-item__image {
    padding: .75rem;
}
.widget-comments-item-image__thumbnail {
    border-radius: 50%;
}
.widget-comments-item__header {
    display: table-cell;
    vertical-align: top;
    overflow: hidden;
    flex: 1;
}
.widget-comments-item__content {
    padding-top: 0;
}