.widget__wrap {
    /* wrap */
}
.widget {
    font-size: .88rem;
    line-height: 1;
}
.widget__inner {
    margin: 0 0 2.5rem 0;
}
.widget__header {
    position: relative;
    margin: 0 0 1rem 0;
}
.widget__header:before {
    display: table;
    content: '';
    position: absolute;
    width: 100%;
    top: 30%;
    border-top: 1px solid $gray-200;
    height: 0;
}
.widget__title {
    font-size: 1.25rem;
    line-height: 1;
    font-weight: 100;
    position: relative;
    margin: 0 0 .75rem 1.25rem;
    padding: 0 .25rem;
    display: inline-block;
    background: $white;
    color: #888;
}
.widget__body {
    /* body */
}
.widget__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget__item {
    margin: 0 0 1rem 0;
    padding: 0;
}
.widget_item__inner {
    color: #888;
    background-color: $white;
    display: flex;
    flex-wrap: wrap;
    box-shadow: $box-shadow;
}
.widget_item__inner:hover {
    color: inherit;
}
.widget_item__image {
    overflow: hidden;
    position: relative;
    margin: 0;
}
.widget_item_image__thumbnail {
    max-width: 100%;
    height: auto;
}
.widget_item__header {
    max-width: 100%;
    padding: .75rem;
}
.widget_item__title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    font-size: inherit;
    margin: 0 0 0.5rem 0;
    padding: 0;
}
.widget_item__subtitle {
    font-size: 80%;
    font-weight: 100;
    line-height: 1;
    margin: 0;
}
.widget_item__content {
    width: 100%;
    font-size: inherit;
    line-height: 1.4;
    margin: 0;
    padding: .75rem;
}