
// Fonts
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,600);

// Variables
@import "variables";

// Bootstrap with Bootswatch theme yeti
// npm i bootswatch
@import "~bootstrap/scss/bootstrap";

// fontawesome
// npm i font-awesome@4.7.0
$fa-font-path: "./fonts/font-awesome" !default;
@import "~font-awesome/scss/font-awesome";


html {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    scroll-behavior:smooth;
}

body {
    height: 100%;
    width: 100%;
    background-color: #eaeaea;
    padding: 10px 0;
    background-size: cover
}

body,
button,
input,
select,
textarea {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: #222;
    word-wrap: break-word;
}

::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: #ddd;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #ddd;
}

pre::-webkit-scrollbar {
    width: 2px !important;
    height: 4px !important;
}
pre::-webkit-scrollbar-thumb {
    background: $primary !important;
}

a {
    color: $primary;
    text-decoration: none;
}

a:hover,
a:active {
    outline: 0;
    text-decoration: none;
}

ol {
    list-style: decimal
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.page {
    max-width: 1200px;
    margin: 0 auto
}

.inner-wrap {
    margin: 0 auto;
    max-width: 1140px;
    display: block;
    position: relative;
}

.inner-wrap:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media screen and (max-width: 1190px) {
    .page {
        width: 97%
    }
    .inner-wrap {
        width: 94%
    }
}

.divider {
    display: block;
    width: 6rem;
    height: 0.3rem;
    background-color: #dfe1e5;
    margin: 2rem auto
}
.form-control {
    border-radius: 0;
    border-color: $gray-200;
}
.form-control:focus {
  color: #000;
}
.action_page .form-group:last-of-type {
    margin-bottom: 0;
}
.moder_panel {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px 8px;
    z-index: 3;
    background: $white;
    opacity: .28;
    transition: $transition-fade;
}
.moder_panel:hover {
    opacity: 1;
    transition: $transition-fade;
}

/* CLEARFIX */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/*
 * Checkbox and radio
 */

input[type=radio],
input[type=checkbox] {
    font-weight: 700;
    border: 1px solid #bbb;
    color: #555;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 15px;
    width: 15px;
    margin: 0;
    outline: 0 !important;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
    -webkit-appearance: none;
}

input[type=radio] {
    border-radius: 50%;
    line-height: 15px;
}

input[type=radio]:checked:before,
input[type=checkbox]:checked:before {
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    font-size: 15px;
}

input[type=checkbox]:checked:before {
    content: '\2714';
    margin: 6px 0 0 0;
    color: $primary;
}

input[type=radio]:checked:before {
    content: '\2022';
    text-indent: -9999px;
    border-radius: 50px;
    font-size: 22px;
    width: 7px;
    height: 7px;
    margin: 3px;
    line-height: 15px;
    background-color: $primary;
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    position: relative;
}

label>input[type=radio],
label>input[type=checkbox] {
    margin-right: 8px;
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
    border: 1px dashed #ccc;
}

input[type="checkbox"]:disabled:before,
input[type="radio"]:disabled:before {
    color: #ccc;
}

/* Page structure */
@import "page_header";
@import "page_body";
/* @import "page_main"; */
@import "page_footer";

/* Pages */
@import "action_page";
@import "archive_page";

/* Articles content */
@import "articles";

/* Users content */
@import "users";

/* Plugins */
@import "comments";

/* Widgets */
@import "widget";
@import "widget_comments";
@import "widget_beside-slider";
@import "widget_related";

@import "widget_featured";
@import "widget_neighboring";

/* Partials */
@import "partials";
